@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://use.typekit.net/[your-kit-code].css');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-alumni {
  font-family: 'Alumni Sans', sans-serif;
}

.font-garamond {
  font-family: 'adobe-garamond-pro', serif;
}


.indigo-text {
  color: #18181B;
}

.blue-text {
  color: #3c384a;
}

.shadow-blue {
  box-shadow: 0 21px 99px rgba(40, 67, 104, 0.127);

}

.btn-color {
  background-color: #18181B;
}

html,
body {
  height: 100%;
  overflow-x: hidden;

}

.hero-section {
  position: relative;
  /* Keep Hero fixed */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  pointer-events: auto;

}

.content-section {
  background-color: white;
  position: relative;
  z-index: 20;
  /* Stack above Hero */
  min-height: 100vh;
  /* Each section is a full height of the viewport */
}

html {
  scroll-behavior: smooth;
}

#to-the-top {
  z-index: 50;
}